* {
    box-sizing: border-box;
}

.navbar {
    .MuiAppBar-colorDefault-61 {
        background-color: #000;
    }
    .toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        margin-left: 50px;
        height: 70px;
        width: 70px;
        margin: 5px 0 5px 30px;
        border-radius: 50%;
    }
}

.hero-section {
    font-family: Lato;
    margin-top: 84px;
    background: black;
}