* {
    box-sizing: border-box;
}

.navbar {
    .MuiAppBar-colorDefault-61 {
        background-color: #000;
    }
    .toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        margin-left: 50px;
        height: 70px;
        width: 70px;
        margin: 5px 0 5px 30px;
        border-radius: 50%;
    }
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato;
    margin-top: 84px;
    background: black;
    .hero-container {
        margin: 50px 0;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        .hero-image {
            margin: 0 100px;
            height: 500px;
            width: 333px;
           img {
               height: 100%;
               width: 100%;
           }
        }
        .hero-info {
            max-width: 500px;
            color: white;
            h1 {
                font-size: 70px;
                padding: 0;
                margin: 0;
            }
            h3 {
                font-size: 15px;
            }
            p {
                font-size: 20px;
                letter-spacing: 1px;
            }
            .buttons-container {
                width: 265px;
                .button1 {
                    margin-right: 10px;
                }
            }   
        }
    }
}