.cast-card {
    margin: 15px;
    width: 260px;
    height: 118px;
    display: flex;
    color: white;
    background-color: black !important;
    border: 1px solid rgb(253, 255, 225);
    .card-poster {
        width: 92px;
        height: 118px;
        min-width: 92px;
        background: black;
    }
    .actor-info {
        display: flex;
        height: 108px;
        flex-direction: column;
        margin: 10px 15px 0 15px;
        .actor-name {
            font-size: 16px;
            color: rgb(243, 211, 135);
        }
        .character {
            font-size: 14px;
            color: #F6F2D6;
        }
    }
}