.list-page-body {
    width: 100%;
    color: white;
    margin: 64px 0 0;
    min-height: 100vh;
    font-family: Lato;
    padding: 70px 250px;
    display: flex;
    flex-direction: column;
    background-color: #465462;
    .page-title {
        display: flex;
        align-items: center;
        .ball {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background: white;
            margin: 0 1em;
        }
    }
    .list-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .see-more-btn {
        margin: 0 60px;
    }
}