.hero-container {
    display: flex;
    height: 37.5em;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &:hover {
        .hero-info {
            opacity: 1;
        }
    }
    .hero-image {
        margin: 0 100px;
        height: 500px;
        width: 333px;
       img {
           height: 100%;
           width: 100%;
       }
    }
    .hero-info {
        opacity: 0;
        transition: all 0.3s ease-in-out;
        background-color: rgba(0,0,0,0.5);
        padding: 40px;
        height: 100%;
        max-width: 700px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        font-family: Lato;
        h1 {
            font-size: 50px;
            padding: 0;
            margin: 0;
            color: rgb(241, 233, 188);
        }
        h3 {
            font-size: 15px;
            display: flex;
            .genres {
                display: flex;
                margin-left: 0.3em;
                .genre {
                    margin-left: 0.3em;
                    color: rgb(190, 220, 241);
                }
            }
        }
        p {
            margin: 0 0 20px;
            font-size: 20px;
            letter-spacing: 1px;
            color: rgb(241, 248, 248);
            .readMoreBtn {
                display: inline-flex;
                margin: 5px 0 0;
                padding: 0;
                font-size: 16px;
                align-items: center;
                width: auto;
                border-style: none;
                outline: none;
                color: rgb(241, 233, 188);;
                background-color: inherit;
                cursor: pointer;
            }
        }
        .buttons-container {
            width: auto;
            .button1 {
                margin-right: 6px;
            }
        }   
    }
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
    /* Styles */
    .hero-container {
        height: 24em;
        .hero-info {
            width: 100%;
            padding: 0 2em;
            h1 {
                font-size: 1.5em;
            }
            h3 {
                font-size: 0.6em;
            }
            p {
                font-size: 0.7em;
                margin-bottom: 1em;
                .readMoreBtn {
                    margin-bottom: 0.1em;
                    font-size: 0.8em;
                    .arrow {
                        font-size: 1em;
                    }
                }
            }
            .buttons-container {
                .button1 {
                    font-size: 0.5em;
                }
            }   
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles */
    .hero-container {
        height: 27em;
        .hero-info {
            width: 100%;
            padding: 40px;
            h1 {
                font-size: 2.2em;
            }
            h3 {
                font-size: 15px;
            }
            p {
                font-size: 1em;
                .readMoreBtn {
                    font-size: 0.8em;
                }
            }
            .buttons-container {
                .button1 {
                    font-size: 0.8em;
                }
            }   
        }
    }
}
  