.single-poster-container {
    width: 156px;
    height: 231px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    &:hover {
        .single-card-overlay {
            display: block;
            transform: translate(0%, -100%);
        }
        .favorite-icon-container {
            display: block;
        }
    }
    .card {
        border: 1px solid white;
        width: 100%;
        height: 100%;
    }
    cursor: pointer;
    .card-poster-single {
        width: 100%;
        height: 100%;
    }
    .single-card-overlay {
        display: none;
        position: absolute;
        border: 1px solid white;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: rgba(0,0,0,0.5);
        transition: transform 0.3s ease-in-out; 
        .overlay-title {
            text-align: center;
            padding: 5px 10px;
            width: 100%;
            h4 {
                margin: 0;
                padding: 0;
                color: rgb(247, 243, 225);

            }
        }
    }
}

