.category-section {
    font-family: Lato;
    color: white;
    background-color: #465462;
    border-radius: 5px;
    height: auto;
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 1.5em;
    }
}